<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <body ng-controller="mainCtrl" class="animate">
    <h1>if-netflix-then-omdb</h1>

    <form type="submit" class="form" method="post" >
      <input type="text" ng-model="query.title" required/>
      <button ng-click="search(query)">Search</button>
    </form>

    <div ng-model="list" ng-show="results" class='container' ng-class="fadeIn">
      <img ng-src="{{ list.query2.Poster }}" />
      <div class="wrapper">
        <h2>{{ list.query2.Title }}</h2>
        <h4>Actors: {{ list.query2.Actors }}</h3>
        <h4>Director: {{ list.query2.Director }}</h4>
        <h4>Awards: {{ list.query2.Awards }}</h4>
        <h4>Awards: {{ list.query2.Rated }}</h4>
        <h4>Awards: {{ list.query2.Released }}</h4>
        <h4>Awards: {{ list.query2.Runtime }}</h4>
        <h4>Metascore: {{ list.query2.Metascore }}</h4>
        <h4>imdbRating: {{ list.query2.imdbRating }}</h4>
      </div>
    </div>

    <div>
      <h1 ng-show="error" ng-class="fadeIn">Not on Netflix</h1>
    <div>

  </body>
</html>
